<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="Emails.RootPath" value="C:\ProgramData\BullTalk\Documents\Emails\" />
    <add key="Domain.Name" value="BullTalk" />
    <add key="Domain.BaseUrl" value="http://localhost:61963/#/" />
    <add key="WebApi.BaseUrl" value="http://localhost:61963/api/" />
    <add key="Domain.NoReplayEmailAddress" value="bulltalk@domain.ext" />
    <add key="EncryptionKey.Registration" value="B1g8@Ng!" />
    <add key="Authentication.PasswordResetExpiration" value="8" />
    <add key="Authentication.ConfirmationExpiration" value="8" />
    <add key="Database.MaxDateTime" value="12/31/9999 23:59:59.997" />
    <add key="Database.MinDateTime" value="1/1/1753 00:00:00.000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>